body {
	background-color: #FAEBD7;
	color:#000026;
	font-family: helvetica, arial, sans-serif;
}

h1 {
	text-align: center;
	font-weight:bold;
	text-transform: uppercase;
	font-size: 500%;
}
p, h2 {
	text-align: left;
}
a:link, a:visited {
  	display: block;
	width: 120px;
    color: #FFFFFF;
    background-color: #170b35;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #B5D6C3;
}
#slogan {
	margin: 0 auto;
	color: #000000;
	text-align: center;
	font-variant: small-caps;
	font-weight:bold;
	font-size: 250%;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	width:100%;
}
.imagecaption {
	margin:auto;
	position:relative;
	width:600px;
}
.imagecaption img {
	width:100%;
}
#contact {
	vertical-align: center;
}
